name: Build pygraf linux executable

on: push

jobs:
  build-linux-executable:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.14"
          enable-cache: true

      - name: Setup env and build
        run: |
          pip install uv
          make setup-install
          pyinstaller -F -p pygraf -n pygraf pygraf/main.py

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: pygraf
          path: ./dist/pygraf
          retention-days: 1
